<%- include('../../fragments/header.ejs'); %>

<div class="container mt-3">
  <form class="needs-validation" method="POST" novalidate>
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="Enter name"
      required
    />
    <div class="invalid-feedback">
      Please enter correct name.
    </div>
    <br />
    <input
      type="text"
      name="developers"
      class="form-control"
      placeholder="Enter developers"
      required
    />
    <div class="invalid-feedback">
      Please enter the correct data.
    </div>
    <br />
    <input
      type="text"
      name="platforms"
      class="form-control"
      placeholder="Enter platforms"
      required
    />
    <div class="invalid-feedback">
      Please enter the correct data.
    </div>
    <br />
    <input
      type="text"
      name="genres"
      class="form-control"
      placeholder="Enter genres"
      required
    />
    <div class="invalid-feedback">
      Please enter the correct data.
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          console.log(forms);
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>

<%- include('../../fragments/footer.ejs'); %>
